@model webpessoa.Models.Pessoa

@{
    ViewData["Title"] = "Editar Cadastro";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-6">
            <h3>Dados Pessoais</h3>
            <div class="form-group mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Endereço</h3>
            <div class="form-group mb-3">
                <label asp-for="EnderecoObj.Logradouro" class="control-label"></label>
                <input asp-for="EnderecoObj.Logradouro" class="form-control" />
                <span asp-validation-for="EnderecoObj.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EnderecoObj.Numero" class="control-label"></label>
                <input asp-for="EnderecoObj.Numero" class="form-control" />
                <span asp-validation-for="EnderecoObj.Numero" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EnderecoObj.Cep" class="control-label"></label>
                <input asp-for="EnderecoObj.Cep" class="form-control" />
                <span asp-validation-for="EnderecoObj.Cep" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EnderecoObj.Bairro" class="control-label"></label>
                <input asp-for="EnderecoObj.Bairro" class="form-control" />
                <span asp-validation-for="EnderecoObj.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EnderecoObj.Cidade" class="control-label"></label>
                <input asp-for="EnderecoObj.Cidade" class="form-control" />
                <span asp-validation-for="EnderecoObj.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EnderecoObj.Estado" class="control-label"></label>
                <input asp-for="EnderecoObj.Estado" class="form-control" />
                <span asp-validation-for="EnderecoObj.Estado" class="text-danger"></span>
            </div>
        </div>
    </div>
    <h3>Telefones</h3>
    <div id="telefones">
        @for (int i = 0; i < Model.Telefones.Count; i++)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <input type="hidden" name="Telefones[@i].Id" value="@Model.Telefones[i].Id" />
                    <div class="form-group mb-3">
                        <label>Número</label>
                        <input name="Telefones[@i].Numero" class="form-control" value="@Model.Telefones[i].Numero" />
                    </div>
                    <div class="form-group mb-3">
                        <label>DDD</label>
                        <input name="Telefones[@i].Ddd" class="form-control" value="@Model.Telefones[i].Ddd" />
                    </div>
                    <div class="form-group mb-3">
                        <label>Tipo</label>
                        <select name="Telefones[@i].Tipo" class="form-select">
                            <option value="2">Casa</option>
                            <option value="3">Trabalho</option>
                            <option value="4">Movel</option>
                            <option value="5">Contato</option>
                        </select>
                    </div>
                </div>
            </div>
        }
    </div>
    <button type="button" class="btn btn-secondary mb-3" onclick="adicionarTelefone()">Adiconar Telefone</button>
    <div class="text-end">
        <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function adicionarTelefone() {
            var index = document.querySelectorAll('#telefones .card').length;
            var container = document.getElementById('telefones');
            var div = document.createElement('div');

            div.className = 'card mb-3';
            div.innerHTML = `
                        <div class="card-body">
                            <div class="form-group mb-3">
                                <label>Número</label>
                                <input name="Telefones[${index}].Numero" class="form-control" />
                            </div>
                            <div class="form-group mb-3">
                                <label>DDD</label>
                                <input name="Telefones[${index}].Ddd" class="form-control" />
                            </div>
                            <div class="form-group mb-3">
                                <label>Tipo</label>
                                <select name="Telefones[${index}].Tipo" class="form-select" >
                                        <option value="2">Casa</option>
                                        <option value="3">Trabalho</option>
                                        <option value="4">Movel</option>
                                        <option value="5">Contato</option>
                                </select>
                            </div>
                        </div>
                    `;
            container.appendChild(div);
        }
    </script>
}